* {
  bottom: 0;
  left: 0;
  text-decoration: none;
}

.texto-final a {
  text-decoration: none !important;
  color: #222229 !important;
  font-family: 'Roboto', 'sans-serif' !important;
}

#logo-footer {
  max-width: 12rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#redes-sociais-footer {
  color: #222229 !important;
  font-family: 'Roboto', 'sans-serif' !important;
}

#navegacao-footer {
  color: #222229 !important;
  font-family: 'Roboto', 'sans-serif' !important;
}

#contato-footer {
  color: #222229 !important;
  font-family: 'Roboto', 'sans-serif' !important;
}

#mapa h6 {
  color: #222229 !important;
  font-family: 'Roboto', 'sans-serif' !important;
}

#mapa iframe {
  max-width: 100%;
  overflow-x: hidden;
}
