html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --cor-azul: #6fd4fe;
  --cor-rosa: #ff70a6;
  --cor-amarelo: #ffd571;
  --cor-laranja: #fe966f;
  --cor-verde: #e8ff70;
  --fonte-titulo-header: clamp(1.5rem, 5vw, 3.5rem);
  --fonte-subtitulo-header: clamp(1.3rem, 4vw, 2.5rem);
  --fonte-texto-header: clamp(1rem, 3vw, 2rem);
  --fonte-grande: clamp(1.3rem, 3.2vw, 2.2rem);
  --fonte-media: clamp(1.15rem, 3vw, 2rem);
  --fonte-mobile: clamp(1.1rem, 2.2vw, 1.5rem);
  --fonte-pequena: clamp(1.1rem, 2vw, 1.3rem);
  --fonte-menor: clamp(1rem, 1.8vw, 1.3rem);
  --fonte-minuscula: clamp(0.8rem, 1.5vw, 1rem);
}
