* {
  height: 100%;
}

/* Botão Whatsapp */

.botao-whatsapp {
  max-height: 5vh;
  width: 100%;
  background: linear-gradient(-135deg,
    var(--cor-laranja) 0%,
    var(--cor-laranja) 5%,
    transparent 30%,
    transparent 80%,
    var(--cor-azul) 95%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#robbu-whatsapp-button {
  position: fixed;
  bottom: 40px;
  right: 20px !important;
  left: auto !important;
  max-width: 100% !important;
  overflow: hidden;
  max-width: 100%;
}

.rwb-tooltip {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
}

/* Banner header */
.home-container{
  padding: 0;
  margin: auto;
  background: linear-gradient(90deg, var(--cor-rosa) 0%, var(--cor-rosa) 35%, var(--cor-rosa) 50%, rgba(233,251,255,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-texto {
  color: white;
  gap: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  display: flex;
  align-items:first baseline;
  justify-content: center;
  text-align: left;
  padding-top: 8vh;
  padding-bottom: 15vh;
  padding-left: 5vh;
  max-width: 70vh;
  margin-top: 2vh;
  margin-bottom: 0;
}

.container-texto h1 {
  font-size: var(--fonte-titulo-header);
  font-weight: bold;
}

.container-texto h2 {
  font-size: var(--fonte-subtitulo-header);
}

.container-texto h3 {
  font-size: var(--fonte-texto-header);
}

.container-texto p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.container-imagem {
  display: flex;
  height: fit-content;
  width: 40%;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  position: relative;
  overflow: hidden;
  align-items: center;
  overflow-y: hidden;
}

.container-imagem img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  align-self: flex-end;
  overflow-y: hidden;
}

/* Consultas */

.consultas-container {
  height: fit-content;
  margin: 5px auto;
  margin-bottom: 0;
  background: #ffffff;
  overflow: hidden;
  padding: 20px;
}

.consultas-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

.consultas-titulo h2 {
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}

.consultas-titulo h1 {
  font-size: var(--fonte-media);
  font-weight: bold;
}

.consultas-grid {
  margin: auto;
  max-width: 85%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem;
}

.consultas-imagem {
  grid-row: span 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none;
  height: 100%;
  gap: 10px;
}

.consultas-imagem h2,
.consultas-imagem h1 {
  width: 80%;
  height: fit-content;
  margin: 0;
}

.consultas-imagem h2 {
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}

.consultas-imagem h1 {
  font-size: var(--fonte-media);
  font-weight: bold;
}

.consultas-imagem img {
  flex: 1;
  width: 80%;
  height: auto;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
              rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
}

.consultas-item {
  display: grid;
  grid-template-rows: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  border: 0.3rem solid transparent;
  transition: 1s;
  text-align: justify;
  justify-content: top;
  min-height: fit-content;
}

.consultas-item:hover {
  cursor: pointer;
}

.consultas-item .item-titulo {
  font-size: var(--fonte-pequena);
}

.item-titulo i {
  margin-right: 10px;
  margin-left: 5px;
  color: black;
  font-size: var(--fonte-pequena);
  flex-shrink: 0;
}


#item1 {
  background-color: var(--cor-azul);
}

#item1:hover {
  border: 0.3rem solid var(--cor-azul);
  background-color: var(--cor-amarelo);
}

#item2 {
  background-color: var(--cor-laranja);
}

#item2:hover {
  border: 0.3rem solid var(--cor-laranja);
  background-color: var(--cor-amarelo);
}

#item3 {
  background-color: var(--cor-rosa);
}

#item3:hover {
  border: 0.3rem solid var(--cor-rosa);
  background-color: var(--cor-amarelo);
}

.item-titulo {
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.item-titulo i {
  font-size: var(--fonte-pequena);
}

.item-descricao {
  font-size: var(--fonte-pequena);
  color: black;
  margin: 0;
  padding-top: 2rem;
  line-height: 1.5;
}

#agendar-consulta2 {
  display: flex;
  height: fit-content;
  text-decoration: none !important;
  padding-bottom: 2rem;
  justify-content: center;
}

.btn-consulta2 {
  text-decoration: none !important;
  position: right;
  font-weight: 700;
  font-size: var(--fonte-menor);
  background: var(--cor-azul);
  color: white;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 10px;
}

.btn-consulta2:hover {
  scale: 1.02;
}

#agendar-consulta2 .btn-consulta2 a {
  display: block;
  color: var(--cor-azul);
  font-size: var(--fonte-menor);
  text-decoration: none !important;
}

#agendar-consulta2 a {
  text-decoration: none;
}

/* Sobre mim */

.sobre-mim-container {
  padding: 0;
  margin: auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.sobre-mim-imagem {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-end;
  padding-right: 7rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.sobre-mim-imagem img {
  width: 60%;
  height: auto;
  max-height: 100%;
  position: bottom;
  object-fit: cover;
  border-radius: 5rem;
  overflow-y: hidden;
}

.sobre-mim-texto {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  min-height: 70%;
  max-width: 50%;
  align-items: stretch;
  justify-content: center;
  text-align: justify;
  overflow: hidden;
}

.sobre-mim-texto h3 {
  width: fit-content;
  text-align: justify;
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}

.sobre-mim-texto h1 {
  text-align: justify;
  font-size: var(--fonte-grande);
  font-weight: 600;
}

.sobre-mim-texto p {
  text-align: justify;
  font-size: var(--fonte-pequena);
}

.sobre-mim-texto p strong {
  text-align: justify;
  font-size: var(--fonte-pequena);
}

.sobre-mim-texto a {
  text-align: justify;
  font-size: var(--fonte-pequena);
  text-decoration: none;
  color: inherit;
}

#agendar-consulta {
  display: flex;
  height: fit-content;
  text-decoration: none !important;
  padding-bottom: 2rem;
  justify-content: center;
}

.btn-consulta {
  text-decoration: none !important;
  position: right;
  font-weight: 700;
  font-size: var(--fonte-menor);
  background: var(--cor-rosa);
  color: white;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 10px;
}

.btn-consulta:hover {
  scale: 1.02;
}

#agendar-consulta .btn-consulta a {
  display: block;
  color: var(--cor-azul);
  font-size: var(--fonte-menor);
  text-decoration: none !important;
}

#agendar-consulta a {
  text-decoration: none;
}

/* Botão atendimento */

#contato {
  background: transparent;
  padding-bottom: 2rem;
}

.botao-consulta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background: linear-gradient(-135deg,
  var(--cor-laranja) 0%,
  var(--cor-laranja) 5%,
  transparent 30%,
  transparent 80%,
  var(--cor-azul) 95%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.button-icon {
  scale: 1.3;
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 8px 10px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: var(--cor-rosa);
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: var(--cor-rosa);
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

#botao2 {
  padding-top: 2rem;
}

/* Consultório */

.consultorio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: auto;
  background: linear-gradient(-135deg,
    var(--cor-laranja) 0%,
    var(--cor-laranja) 5%,
    transparent 30%,
    transparent 80%,
    var(--cor-azul) 95%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.consultorio-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.consultorio-titulo h1 {
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}

.img-localizacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  max-width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.img-localizacao h1 {
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}

.consultorio iframe {
  width: 100%;
}

.consultorio p {
  padding-bottom: 0;
}

.consultorio h3 {
  padding-top: 2rem;
  font-weight: bold;
}

.carousel {
  flex: 1;
  width: 50%;
}

.carousel-inner {
  height: 400px;
  position: center;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  max-height: 40rem;
}

.descricao-consultorio {
  flex: 1;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  overflow: hidden;
  text-align: justify;
  height: fit-content;
}

.descricao-consultorio h4 {
  text-align: justify;
  font-size: var(--fonte-pequena);
  font-weight: bold;
  height: fit-content;
  padding-bottom: 1rem;
}

.descricao-consultorio p {
  height: fit-content;
  line-height: 1.6;
  width: 100%;
  margin: 0;
  padding-bottom: 2rem;
  overflow: hidden;
  flex-grow: 1;
  text-align: justify;
  font-size: var(--fonte-pequena);
}

.descricao-consultorio p:last-child {
  padding-bottom: 0;
}

/* Atendimentos */

.titulo-atendimentos {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.titulo-atendimentos h1 {
  font-size: var(--fonte-minuscula);
  text-transform: uppercase;
}


.atendimentos {
  height: 30rem;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajustável de 1 a 3 colunas */
  gap: 1rem;
  max-width: 60%;
  margin: auto;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

.card {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#card1 {
  background-color: var(--cor-rosa);
}

#card2 {
  background-color: var(--cor-rosa);
}

#card3 {
  background-color: var(--cor-rosa);
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--cor-amarelo) 0%, var(--cor-azul) 100%);
  z-index: -10;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, var(--cor-amarelo) 0%, var(--cor-azul) 100%);
  transform: scale(0.95);
  filter: blur(20px);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.heading {
  font-size: var(--fonte-pequena);
  font-weight: bold;
}

.card p:not(.heading) {
  font-size: var(--fonte-menor);
  text-align: justify center;
}

.card p:last-child {
  align-self: flex-start;
  color: white;
  margin-top: 0;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  font-size: var(--fonte-menor);
}

.card:hover::after {
  filter: blur(30px);
  transform: scale(1);
}

.card:hover::before {
  transform: scale(1.05);
}

#agendar-consulta3 {
  display: flex;
  height: fit-content;
  text-decoration: none !important;
  padding-bottom: 4rem;
  justify-content: center;
  background: linear-gradient(-135deg,
    var(--cor-laranja) 0%,
    var(--cor-laranja) 5%,
    transparent 30%,
    transparent 80%,
    var(--cor-azul) 95%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-consulta3 {
  text-decoration: none !important;
  position: right;
  font-weight: 700;
  font-size: var(--fonte-menor);
  background: var(--cor-amarelo);
  color: white;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 10px;
}

.btn-consulta3:hover {
  scale: 1.02;
}

#agendar-consulta3 .btn-consulta3 a {
  display: block;
  color: var(--cor-rosa);
  font-size: var(--fonte-menor);
  text-decoration: none !important;
}

#agendar-consulta3 a {
  text-decoration: none;
}

#agendar-consulta4 {
  display: flex;
  height: fit-content;
  text-decoration: none !important;
  padding-bottom: 3rem;
  padding-top: 2rem;
  justify-content: center;
  background: linear-gradient(-135deg,
    var(--cor-laranja) 0%,
    var(--cor-laranja) 5%,
    transparent 30%,
    transparent 80%,
    var(--cor-azul) 95%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-consulta4 {
  text-decoration: none !important;
  position: right;
  font-weight: 700;
  font-size: var(--fonte-menor);
  background: var(--cor-rosa);
  color: white;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 10px;
}

.btn-consulta4:hover {
  scale: 1.02;
}

#agendar-consulta4 .btn-consulta3 a {
  display: block;
  color: var(--cor-rosa);
  font-size: var(--fonte-menor);
  text-decoration: none !important;
}

#agendar-consulta4 a {
  text-decoration: none;
}

/* Responsividade */

@media (max-width: 991px) {
  .parallax {
    min-height: 50vh;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .container-texto {
    width: 80%;
    display: flex;
    text-align: left;
    padding-top: 8vh;
    padding-bottom: 0;
    padding-left: 2vh;
    max-width: 70vh;
    margin-top: 2vh;
    margin-right: 5vh;
    margin-bottom: 0;
  }

  .container-imagem {
    width: 60%;
  }

  .container-imagem img {
    height: auto;
    object-fit: cover;
    align-self: flex-end;
  }

  .sobre-mim-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .sobre-mim-imagem {
    width: 60%;
    height: auto;
    align-items: center;
    padding: 1rem 0;
  }

  .sobre-mim-imagem img {
    width: 60%;
    border-radius: 3rem;
    height: auto;
  }

  .sobre-mim-texto {
    max-width: 80%;
    margin: 2rem auto;
    height: fit-content;
  }

  .atendimentos {
    grid-template-columns: 1fr;
  }

  .consultas-imagem {
    display: none;
  }

  .consultas-grid {
    display: grid;
    grid-template-columns: 3fr;
  }
}

@media (min-width: 992px) {
  .parallax {
    background-size: cover;
  }

  .sobre-mim-container {
    background-size: cover;
  }
  .sobre-mim-texto {
    padding-right: 8rem;
  }

  .card {
    height: 100%;
  }

  .consultas-titulo {
    display: none;
  }
}

@media only screen and (min-width: 561px) and (max-width: 991px) {
  .item-titulo {
    font-size: 1.3rem;
    max-height: fit-content;
  }

  .consultas-item p {
    font-size: 1.05rem;
  }
}

@media (max-width: 560px) {
  .item-titulo {
    font-size: 1rem;
    padding-bottom: 1rem;
    max-height: fit-content;
  }

  .consultas-item p {
    font-size: 1rem;
    padding-top: 0.2rem;
  }

  .atendimentos {
    max-width: 100%;
  }

  .card {
    width: 100%;
  }

  .container-imagem {
    width: 100%;
    margin-top: 2rem;
    overflow-y: hidden;
  }

  .container-texto {
    width: 90%;
    max-width: none;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }

  .container-texto h1,
  .container-texto h2,
  .container-texto h3,
  .container-texto p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
}

@media (max-width: 470px) {

  #item1 p {
    margin-top: 2rem;
  }

  #item2 p {
    margin-top: 2rem;
  }

  #item3 p {
    margin-top: 2rem;
  }

  .item-titulo i {
    font-size: 1.5rem;
  }

  .sobre-mim-imagem {
    width: 80%;
  }

  .sobre-mim-imagem img {
    width: 80%;
  }
}

@media (max-width: 760px) {
  .rwb-tooltip{
    display: none;
  }

  #robbu-whatsapp-button {
    right: 5px !important;
  }

  .button-icon {
    scale: 1.05;
  }

  #contato {
    display: none;
  }

  #botao2 {
    display: none;
  }
}

@media (min-width: 761px) {

  #agendar-consulta2 {
    display: none;
  }

  #agendar-consulta4 {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1700px) {
  .consultas-item {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .consultorio {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .descricao-consultorio {
    width: 80%;
  }

  .consultorio iframe {
    width: 80%;
  }

  .carousel {
    width: 80%;
    height: fit-content;
    max-height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .consultorio iframe {
    max-width: 50%;
  }
}

@media (max-width: 991px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }

  #agendar-consulta {
    justify-content: center;
  }
}

@media (max-width: 1500px) {
  .sobre-mim-imagem img {
    height: 100%;
    width: 80%;
  }
}
